
/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;  /* Set the height for the horizontal scrollbar */
}

/* Horizontal scrollbar thumb */
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.5); /* Subtle thumb color */
  border-radius: 10px;  /* Rounded thumb edges */
}

/* Hide the horizontal scrollbar track */
::-webkit-scrollbar-track:horizontal {
  background: transparent;  /* Transparent background for the track */
}

/* Hide the vertical scrollbar but still allow scrolling */
::-webkit-scrollbar:vertical {
  width: 0;  /* Completely hide the vertical scrollbar */
}

/* Firefox scrollbar settings */
html {
  scrollbar-width: none;  /* Hide the vertical scrollbar */
  scrollbar-color: rgba(190, 190, 190, 0.5) transparent; /* Horizontal thumb color, transparent track */
}

body {
  overflow-y: scroll; /* Enable vertical scrolling without showing the scrollbar */
}


/////////
.media-container {
  margin-left: 100px;
  margin-right: 100px;
}

.media-list {
  columns: 275px;
  padding-bottom: 4em;
  max-width: 1700px;
  margin: auto;
}

.media-list img{
  display: block;
  margin-bottom: 1em;
  border-radius: 6px;
  width: 100%;
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative; 
  z-index: 1; 
}

.media-list img:hover {
  transform: scale(1.1); 
  z-index: 10; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
  cursor: pointer;
}

.media-list-img-lazy{
  opacity: 0;
  animation: popIn 2s cubic-bezier(.19,1.01,.7,.9) forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(1.015);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.app-font {
  font-family: 'Hanken Grotesk', sans-serif;
}

.font-weight-light {
  font-weight: 150
}

.font-weight-medium {
  font-weight: 300
}

.font-weight-heavy {
  font-weight: 500
}

.font-weight-heavyx {
  font-weight: 800
}

.font-size-s {
  font-size: 12px
}

.font-size-sm {
  font-size: 15px
}

.font-size-m {
  font-size: 18px
}

.font-size-l {
  font-size: 24px
}

.font-size-xl {
  font-size: 32px
}

.font-size-xxl {
  font-size: 48px
}

.slide-in-right {
  animation: slide-in-right 0.15s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  animation: slide-out-right 0.15s ease-out forwards;
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}

.header-middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-left, .header-right {
  flex-shrink: 1; /* Allow these elements to shrink if needed */
}

.header-left {
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-right {
  white-space: nowrap; /* Prevent text from wrapping */
}

@media (max-width: 600px) {
  .media-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.sign-up-cards-container {
  scroll-snap-type: x mandatory;
}

.user-screen-card {
  scroll-snap-align: center;
}

.chevron-rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.15s ease-in-out;
}

.chevron-rotate-270 {
  transform: rotate(270deg);
  transition: transform 0.15s ease-in-out;
}

.media-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  // overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.25); /* Background overlay */
  z-index: 40; /* Make sure it's above other elements */
}

.media-carousel-content {
  display: flex;
  flex-direction: row;
  // overflow-y: hidden;
  min-width: 500px;
  max-width: 80%;
  column-gap: 12px;
  position: relative; /* Needed for the close button to be positioned inside */
}

.media-carousel-content img {
  height: 55vh;
  transition: 0.3s;
  filter: brightness(0.6);
  transform-origin: center center; /* Keeps transformations centered */
}

.media-carousel-content::after {
  content: "";
  display: block;
  width: 10vw; /* Adjust the space as needed */
  flex-shrink: 0; /* Prevent shrinking */
}

.media-carousel-content img:hover {
  filter: brightness(1);
  transform: scale(1.45);   
  z-index: 42; /* Bring it above other elements */
}

.media-carousel-content img:hover + * {
  filter: brightness(0.8);
  transform: scale(1.1);   
  z-index: 41; /* Bring it above other elements */
}

.media-carousel-content img:has(+ *:hover) {
  filter: brightness(0.8);
  transform: scale(1.1);   
  z-index: 41; /* Bring it above other elements */
}